#chat-screen {
    background: #abc1d1;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
    background: #abc1d1;
    top: 0;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}
#chat-screen .status-bar {
    z-index: 2;
}
#chat-screen .alt-header {
    z-index: 1;
}

/* #chat-screen .alt-header {
    top: 10px;
    채팅방 헤더와 스태큐바 고정이 동시에 안될 때
} */
.main-chat {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.chat__timestamp {
    background: #92a4b2;
    border-radius: 20px;
    color: white;
    padding: 10px 15px;
    font-size: 15px;
    margin-bottom: 25px;
}
.message-row {
    width: 100%;
    display: flex;
    margin-bottom: 25px;
}

.message-row img {
    width: 60px;
    height: 60px;
    border-radius: 40%;
    margin-left: 20px;
    margin-right: 10px;
}
.message__author {
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
    justify-content: center;
}
.message__bubble {
    background-color: white;
    font-weight: 600;
    padding: 12px;
    border-radius: 15px;
    border-top-left-radius: 0px;
    margin-right: 5px;
}
.message__info {
    display: flex;
    align-items: flex-end;
}
.message__time,
.message__author {
    font-size: 13px;
    opacity: 0.9;
}
.message-row__own {
    justify-content: flex-end;
    margin-right: 25px;
}
.message-row__own .message__bubble {
    background-color: var(--yellow);
    border-top-left-radius: 15px;
    border-top-right-radius: 0px;
    margin-left: 5px;
}
.message-row__own .message__info {
    flex-direction: row-reverse;
}
/* .message-row__own .message__bubble {
    order:1;
}
.message-row__own .message__time {
    order:0;
} */