.settings__setting {
    padding: 30px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 25px;
    display: flex;
    align-items: center;
}
.settings__setting i {
    margin-right: 25px;
    font-size: 25px;
    opacity: 0.8;
}