.alt-header {
    padding: 45px 25px 25px 25px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.alt-header__title {
    font-size: 20px;
    font-weight: 600;
}
.alt-header__title span {
    position: relative;
    left: 16px;
}
/* .alt-header__column:first-child {
    margin-right: auto;
}
.alt-header__column:last-child {
    margin-left: auto;
} */
.alt-header__column span {
    margin-left: 18px;
}