.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #f9f9fa;
    padding: 16px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.nav__list {
    display: flex;
    justify-content: space-between;
}